.container-main {
	position: relative;
	border-radius: 10px;
	width: min(max(calc(calc(100vw * 1) / 5), 220px), 260px);
	height: min(max(calc(calc(calc(100vw * 1) / 4) * 1.25), 344px), 406px);

	display: flex;
	overflow: hidden;
	caret-color: transparent;
	transition: box-shadow .3s;
}

.container-main .image {
	min-width: 100%;
	min-height: 100%;
	transition: box-shadow .3s;
}

.container-main:hover{
	box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
	.container-main {
		width: max(calc(calc(100vw * 1) / 5), 180px);
		height: max(calc(calc(calc(100vw * 1) / 4) * 1.25), 281px);
	}
}