.container-main {
	position: absolute;
	bottom: 0px;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 15px;
	
	background-color: rgba(0,0,0,0.8);
	padding: 16px 10px;
	color: antiquewhite;
	font-family: Calibri;
}

.container-main .title {
	margin-bottom: 3px;
}

.container-main .value {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container-main .value .console {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.container-main .value .money {
	white-space: nowrap;
	font-size: 14px;
}

.value .console > span {
	font-weight: bolder;
	color:aqua;
	margin-right: 10px;
}

@media screen and (max-width: 768px) {
	.container-main {
		font-size: 12px;
		padding: 12px 8px;
	}

	.container-main .value .console {
		font-size: 11px;
	}

	.container-main .value .money {
		font-size: 11px;
	}
}