.container-main {
	position: absolute;
	bottom: 90px;
	right: 0;
}

.container-main .content {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(7, 7, 7, 0.9);
	color: white;
	font-size: 12px;
	font-family: 'Segoe UI';
	font-weight: bold;
	padding: 15px 50px;
	white-space: nowrap;
}

@media screen and (max-width: 768px) {
	.container-main .content {
		padding: 6px 20px;
		font-size: 10px;
	}
}